doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/css/signup.css")
  body
    header
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/project") Project
          li
            a(href="/Team") Home
          li
            a(href="/signin") Sign In
          li
            a(href="/signup") Sign Up
    block content
    footer
      p &copy; 2023 My TaskFlow App